<section class="container register">
    
    <div class="col-md-12" *ngIf="!post">
        Cargando...
    </div>

    <div class="container-fluid" *ngIf="post">
        <h2 class="title">{{post.title}}</h2>
        <div class="card-columns">
            <article class="card w-100">
                <div class="card-header">
                    <h5>
                        {{category.name}} | <a [routerLink]="['/perfil/',user.id]"> {{user.name + ' ' + user.surname}} </a>
                    </h5>
                   
                </div>
                <div class="card-body">
                    {{post.content}}
                </div>
            </article>
        </div>
    </div>

</section>