/* You can add global styles to this file, and also import other style files */
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'open sans' !important;
  }

  .container {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
  }

  .title {
    color: rgb(24, 51, 126);
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
    font-weight: 550;
  }

  .container.error{
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
  }

  .container.error p{
    width: 350px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 60px;
    padding: 10px;
    background: rgba(243, 184, 184, 0.37);
  }

  .container.register{
    width: 100%;
    display:block;
    align-items: center;
    
  }
  .text-section{
    text-align: center;
  }

  .miboton{
    display: block !important;
    width:60%;
    margin: 0 auto !important;
  }

  .content-avatar {
    display: flex !important;
    vertical-align: middle;
    width: 100%;
    align-items: center !important;
    flex-direction: column;
  }

  .avatar{
    display: block !important;
    width: 200px;
    max-width:300px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    padding: 0.2rem;
    object-fit: cover;
    border:1px solid #ccc;
    justify-content: space-evenly;
    
  }

  .foto{
    padding-top: 20px;
  }

