<section class="container home">

    <div class="loading" *ngIf="!category">
      Cargando...
    </div>
  
    <div class="container-fluid" *ngIf="category">
      <h2 class="title">{{category.name}}</h2>

      <div class="loading" *ngIf="!posts">
        Cargando listado...
      </div>
  
      <div class="alert alert-warning" *ngIf="posts && posts.length == 0">No hay post en esta categoria</div>

      <!-- <div class="card-columns" *ngIf="posts && posts.length >= 1"> -->
      <!--Listado de entradas-->
      <post-list [posts] ="posts" [identity] = "identity" [url]="url" (delete) = "deletePost($event)"></post-list>
      <!--Fin listado de entradas-->
    </div>
  
  </section>
  