<section class="container home">

    <div class="loading" *ngIf="!posts">
      Cargando...
    </div>
  
    <div class="container-fluid" *ngIf="posts">
      
      


       <div class="content-avatar mb-5 mt-0">
           <img src="{{url + 'user/avatar/'+ user.image}}" alt="" class="avatar" *ngIf="user && user.image" >
           <img src="../../../assets/img/noimage.png" alt="" class="avatar" *ngIf="user && !user.image" >
           <h2 class="title mb-3">{{user.name + ' ' + user.surname}}</h2>
           <p [innerHTML]="user.description"> </p>
           <p [innerHTML]="user.email"> </p>
      
        </div>

        <!--Listado de entradas-->
        <post-list [posts] ="posts" [identity] = "identity" [url]="url" (delete) = "deletePost($event)"></post-list>
        <!--Fin listado de entradas-->
    </div>
  
  </section>
  