

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/inicio']">
      <img src="../assets/img/dg-logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
      ForoAngular
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/inicio']">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/temas']">Ver temas</a>
        </li>
        <li class="nav-item" *ngIf="identity && identity.name">
          <a class="nav-link" [routerLink]="['/usuarios']">Usuarios</a>
        </li>
        <li class="nav-item" *ngIf="identity && identity.name">
          <a class="nav-link" [routerLink]="['/panel/crear']">Crear temas</a>
        </li>
      </ul>
      <form class="d-flex" #searhForm = "ngForm">
        <input class="form-control me-2" type="search" placeholder="¿Que estas buscando?" aria-label="Search" name = "busqueda" #busqueda="ngModel" [(ngModel)]="search">
        <button class="btn btn-outline-light" (click)="goSearch()">Buscar</button>
      </form>
      <ul class="navbar-nav navbar-right mb-2 mb-lg-0">

        <li class="nav-item" *ngIf="!identity.name">
          <a class="nav-link" [routerLink]="['/register']" >Registrarse</a>
        </li>
        <li class="nav-item" *ngIf="!identity.name">
          <a class="nav-link" [routerLink]="['/login']" >Entrar</a>
        </li>



        <li class="nav-item dropdown" *ngIf="identity && identity.name">

          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{identity.name + ' ' + identity.surname}}
            <img src="{{url + 'avatar/'+ identity.image}}" alt="" class="avatar-bar" *ngIf="identity && identity.name && identity.image">
          </a>
          
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" [routerLink] = "['/panel']">Panel de usuario</a></li>
            <li><a class="dropdown-item" [routerLink]="['/perfil/',identity._id] ">Mi perfil</a></li>
            <li><a class="dropdown-item" [routerLink] ="['/ajustes']">Ajustes</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item pointer" (click)="logout()">Cerrar sesion</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>