<div class="p-5 rounded-lg m-3 text-center mb-0">
    <h1 class="display-4">{{page_title}}</h1>
    <p class="lead">Todos los usuarios.</p>
    <hr class="my-4 mb-0">
</div>

<div class="col-10 m-auto">

    <div class="row">
          <div class="list-group" id="list-tab" role="tablist">
          
            <a href="#" class="list-group-item list-group-item-action usuario" data-bs-toggle="list" [routerLink]="['/perfil/',user._id]" *ngFor ="let user of users">
                <!-- <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">{{user.name + ' ' + user.surname}}</h5>
                </div> -->
                <div class="user d-flex flex-row align-items-center"> 
                    <img src="{{url+ 'avatar/' + user.image}}" width="60" class="user-img rounded-circle m-2" *ngIf="user.image"> 
                    <img src="../../../assets/img/noimage.png" width="60" class="user-img rounded-circle m-2" *ngIf="!user.image"> 
                    <h5 class=" m-2">{{user.name + ' ' + user.surname}}</h5> 
                </div> 
            </a>
        
        
        </div>
      </div>

</div>