<section class="page-section text-dark mb-0 mt-5 container" id="about" *ngIf = "identity && identity.name">
    <div class="container">
        <h2 class="page-section-heading text-center text-uppercase text-dark">{{page_title}}</h2>
    </div>
    <div class="card-columns mt-5">
        <article class="card w-100 mb-5" *ngFor="let video of videos">
            <div class="card-header">
                <h3>
                    {{video.title}}
                </h3>
            </div>
            <div class="card-body">
                <!--Imagen-->
                <div class="video-image w-100" *ngIf="video.url">
                    <img src="{{getThumb(video.url, 'maxresdefault')}}" class="w-100">
                </div>
                <!--Botones-->
                <div class="video-buttons mt-3">
                    <a [routerLink]="['/video/',video.id]" class="btn btn-sm btn-success m-1">Ver</a>
                    <a [routerLink]="['/video/edit/',video.id]" class="btn btn-sm btn-success m-1">Editar</a>

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-sm btn-dark m-1" data-bs-toggle="modal"
                    [attr.data-bs-target]="'#myModal'+video.id">
                    Borrar
                </button>

                <!-- Modal -->
                <div class="modal fade" id="{{'myModal'+video.id}}" tabindex="-1" aria-labelledby="myModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel">Eliminar video</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        ¿Estas completamente seguro de eliminar este video? {{video.title}}
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <a class="btn btn-primary" (click)="removeVideo(video.id)" data-bs-dismiss="modal">Borrar</a>
                        </div>
                    </div>
                    </div>
                </div>



                </div>
            </div>
        </article>
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <a class="page-link" [routerLink] = "['/inicio/',prev_page]">Anterior</a>
          </li>

          <li class="page-item" *ngFor = 'let num of number_pages'>
              <a class="page-link" [routerLink] = "['/inicio/',num]">{{num}}</a>
            </li>

          <li class="page-item">
            <a class="page-link" [routerLink] = "['/inicio/',next_page]" >Siguiente</a>
          </li>
        </ul>
      </nav>


</section>
    
<section class="mt-5" *ngIf = "identity && !identity.name">
    <div class="jumbotron text-center">
        <h1 class="display-4">Bienvenido a VideosAngular!</h1>
        <p class="lead">Registrate en la web para guardar tus videos favoritos de YouTube y poder verlos cuando quieras.</p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg m-1" [routerLink]="['/register']" role="button">Registrarse</a>
        <a class="btn btn-primary btn-lg m-1" [routerLink]="['/login']" role="button">Iniciar sesión</a>
      </div>
</section>