<section class="page-section text-dark mb-0 mt-5" id="about" *ngIf = "identity && identity.name">
    <div class="container">
        <h2 class="page-section-heading text-center text-uppercase text-dark">{{page_title}}</h2>
    </div>
    <div class="card-columns">
        <article class="card w-100" *ngFor="let video of videos">
            <div class="card-header">
                <h3>
                    {{video.title}}
                </h3>
            </div>
            <div class="card-body">
                <!--Imagen-->

                <!--Botones-->
                <div class="video-buttons mt-3">
                    <a href="#" class="btn btn-sm btn-success m-1">Leer</a>
                    <a [routerLink]="['/video/edit/',video.id]" class="btn btn-sm btn-success m-1">Editar</a>
                    <a href="#" class="btn btn-sm btn-success m-1">Borrar</a>
                </div>
            </div>
        </article>
    </div>

</section>
    
<section class="mt-5" *ngIf = "identity && !identity.name">
    <div class="jumbotron text-center">
        <h1 class="display-4">Bienvenido a VideosAngular!</h1>
        <p class="lead">Registrate en la web para guardar tus videos favoritos de YouTube y poder verlos cuando quieras.</p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg m-1" [routerLink]="['/register']" role="button">Registrarse</a>
        <a class="btn btn-primary btn-lg m-1" [routerLink]="['/login']" role="button">Iniciar sesión</a>
      </div>
</section>