<div class="p-5 rounded-lg m-3 text-center mb-0" *ngIf="topic">
    <h1 class="display-4" >{{topic.title}}</h1>
    <hr class="my-4 mb-0">
    <span class="badge bg-success m-lg-2 mr-4">Lenguaje: {{topic.lang}}</span>
    <span class="badge bg-primary m-lg-2">{{topic.user.name + ' ' + topic.user.surname}}</span>
    <span class="badge bg-secondary m-lg-2">{{topic.date | amLocale: 'es' | amTimeAgo}}</span>
    <div class="content-content mt-4 mb-4">
        <p>{{topic.content}}</p>
    </div>

    <div class="content-code mt-4 mb-4 text-justify col-7 m-auto">
        <p class="text-justify">
            <ngx-highlight-js lang="{{topic.lang}}" code="{{topic.code}}"></ngx-highlight-js>
        
        </p>
    </div>
</div>

<hr>

<div id="comment-box" class="col-md-5 mx-sm-auto mt-lg-5 registro mb-0">


    
    <form  #formComment = "ngForm" (ngSubmit) = "onSubmit(formComment)">
        <h3>Comentarios</h3>
        <div class="alert alert-success m-auto" *ngIf="status === 'success'">
            {{message}}
        </div>
        <div class="alert alert-danger m-auto" *ngIf="status === 'error'">
            {{message}}
        </div>
        <hr>
        <div class="form-group">
            <label for="content">Agregar comentario</label>
            <input type="text" name="content" class="form-control" #content="ngModel" [(ngModel)]="comment.content" required>
            <small *ngIf="!content.valid && content.touched" class="invalid-feedback d-block">El comentario no es valido</small>
        </div>
        <input type="submit" value="Enviar" class="btn btn-primary mt-4 derecha"  [disabled]="!formComment.form.valid">
    </form>
    <hr>

    <div class="clearfix"></div>
    <div class="row mt-5" *ngIf = "topic">
        <div class="list-group" id="list-tab" role="tablist">
        
          <a href="#" class="list-group-item list-group-item-action mb-3" data-bs-toggle="list" [routerLink]="['/tema/',topic._id]" *ngFor = "let comment of topic.comments">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{comment.user.name + ' ' + comment.user.surname}}</h5>
                <small>{{comment.date | amLocale: 'es' | amTimeAgo}}</small>
              </div>
              <p class="mb-1">{{comment.content}}</p>
              <!-- <small class="badge bg-primary">{{ topic.user.name + ' ' + topic.user.surname}}</small> -->
          </a>
      
      
      </div>
    </div>


</div>
