/* You can add global styles to this file, and also import other style files */
.registro{
    padding: 10px;
    margin-bottom: 0px !important;
}

.derecha{
    float:right;
}

.pointer{
    cursor: pointer;
}


.miboton{
    display: block !important;
    width:60%;
    margin: 0 auto !important;
  }

  .content-avatar {
    display: flex !important;
    vertical-align: middle;
    width: 100%;
    align-items: center !important;
    flex-direction: column;
  }

  .avatar{
    display: block !important;
    width: 200px;
    max-width:300px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    padding: 0.2rem;
    object-fit: cover;
    border:1px solid #ccc;
    justify-content: space-evenly;
    
  }

  .bar {
    align-items:flex-start !important;
  }

  .avatar-bar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border:1px solid #ccc;
  }

  .foto{
    padding-top: 20px;
  }