/* You can add global styles to this file, and also import other style files */
.registro{
    padding: 10px;
    margin-bottom: 0px !important;
}

.derecha{
    float:right;
}

.pointer{
    cursor: pointer;
}