<section class="page-section text-dark mb-0 mt-5" id="about">
    <div class="container">
        <h2 class="page-section-heading text-center text-uppercase text-dark">{{page_title}}</h2>
        <p class="page-section-heading text-center text-dark">Crear un nuevo video.</p>
    </div>

    <div class="alert alert-success col-md-5 m-auto" *ngIf="status === 'success'">
        {{message}} 
    </div>
    <div class="alert alert-danger col-md-5 m-auto" *ngIf="status === 'error'">
        {{message}}
    </div>



    
    <form class="col-md-5 mx-sm-auto mt-lg-5" #newVideoForm = "ngForm" (ngSubmit) = "onSubmit(newVideoForm)">
        <div class="form-group">
            <label for="title">Titulo</label>
            <input type="text" name="title" class="form-control" #title="ngModel" [(ngModel)]="video.title" required>
            <small *ngIf="!title.valid && title.touched" class="invalid-feedback d-block">El titulo no es valido</small>
        </div>
        <div class="form-group">
            <label for="description">Descripcion</label>
            <input type="text" name="description" class="form-control" #description="ngModel" [(ngModel)]="video.description" required>
            <small *ngIf="!description.valid && description.touched" class="invalid-feedback d-block">La descripcion no es valida</small>
        </div>
        <div class="form-group">
            <label for="url">URL</label>
            <input type="text" name="url" class="form-control" #url="ngModel" [(ngModel)]="video.url" required>
            <small *ngIf="!url.valid && url.touched" class="invalid-feedback d-block">La url no es valida</small>
        </div>
        <input type="submit" value="Guardar" class="btn btn-primary mt-4 ml-auto derecha"  [disabled]="!newVideoForm.form.valid">
    </form>

</section>